body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}

.recipe-app {
  width: 1400px; 
  margin: 40px auto; 
  padding: 40px; 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); 
}

h2, h3 {
  color: #007bff;
}

.recipe-container {
  display: flex;
  flex-direction: column;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Increased min column width */
  gap: 30px; /* Increased spacing between cards */
}

.recipe-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px; /* Increased padding */
  text-align: center;
  transition: transform 0.2s;
}

.recipe-card:hover {
  transform: scale(1.02);
}

.recipe-image img {
  width: 100%;
  border-radius: 8px;
}

.recipe-content {
  margin-top: 10px;
}

.action-btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 18px; /* Increased padding for buttons */
  border-radius: 5px;
  cursor: pointer;
  
}

.recipe-btn {
  background-color: #ffffff0c;
  color: #0f0f0f;
  border: none;
  padding: 12px 18px; /* Increased padding for buttons */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pods{
  display: flex;
  justify-content: space-between;
  
}


.pagination {
  margin-top: 20px; /* Spacing for pagination */
  display: flex;
  justify-content: center; /* Centered pagination */
}

.pagination button {
  background-color: #007bff; /* Button color */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 15px; /* Padding for pagination buttons */
  border-radius: 5px; /* Rounded corners */
  margin: 0 10px; /* Spacing between buttons */
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
