/* Recipe component styles */
.recipe {
    border: 1px solid #f5cfcf;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px; /* Add some spacing between recipes */
    width: 395px;
    margin-left: 285px;
    
  }
  
  .recipe h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .recipe img {
    max-width: 100%;
    height: auto; /* Maintain image aspect ratio */
    margin-bottom: 10px;
  }
  
  .recipe ul,
  .recipe ol {
    margin: 0;
    padding: 0;
     /* Remove default list styling */
  }
  
  .recipe li {
    margin-bottom: 5px;
  }
  
  /* Optional styles for ingredients and instructions */
  .recipe h3 {
    margin-bottom: 10px;
  }
  